node_modules/
BannerApp/node_modules
backend-python/__pycache__/
backend-python/instance/
backend-python/.venv/
.DS_Store
.vscode/
.env
.env.local
.env.*.local    
frontend/build/
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.*.local
.idea/  
backend-python/database.db
backend-python/migrations/
backend-python/alembic.ini
backend-python/alembic/ 
backend-python/venv/
backend-python/.pytest_cache/
backend-python/.mypy_cache/
backend-python/.vscode/
backend-python/.coverage
backend-python/htmlcov/
backend/node_modules/
backend/.env
backend/.env.local
backend/.env.*.local
backend/.vscode/
backend/package-lock.json
frontend/package-lock.json
BannerApp/package-lock.json
BannerApp/.env
BannerApp/.env.local
BannerApp/.env.*.local
BannerApp/.vscode/
BannerApp/build/
BannerApp/.expo/
backend/.env
backend-python/.env
backend-python/shopping_assistant.db